* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #525252;
  margin: 0;
  height: 100%;
  padding: 0 5vw 0 5vw;
}

header {
  margin: 2vw;
  border-radius: 10vw;
  background-color: #494949;
  display: flex;
  align-items: center;
  padding: 0 2vw 0 2vw;
  color: #b1e4e3;
  gap: 1vw;
}

.title {
  color: #c5b4e3;
  font-size: 2.2vw;
  margin: 0.7vw;
  flex: 1;
}

.githubLink img {
  width: 3vw;
}

.MainContent {
  display: flex;
  gap: 2vw;
}

.EditSection,
.Preview {
  border-radius: 2vw;
  height: fit-content;
  padding: 1vw;
}

.EditSection {
  flex: 0.8;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  background-color: #494949;
  margin-left: 2vw;
}

.GeneralInfo,
.Education,
.Experience {
  display: flex;
  flex-direction: column;
}

.genInfoTitle,
.eduTitle,
.expTitle {
  font-size: 1.5vw;
  font-weight: bold;
}

.GIbtn,
.EduBtn,
.ExpBtn {
  color: #b1e4e3;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  border-radius: 20px;
  background-color: #525252;
  height: 4vw;
  z-index: 1;
}

.GIform,
.EduDropdown,
.ExpDropdown {
  gap: 1vw;
  position: relative;
  padding: 3.5vw 1vw 1vw 1vw;
  top: -2.5vw;
  display: none;
  flex-direction: column;
  background-color: #b1e4e3;
  border-radius: 0 0 20px 20px;
  margin-bottom: -2.5vw;
}

.EduForm,
.ExpForm {
  display: none;
  flex-direction: column;
  gap: 1vw;
}

.doubleLabel {
  display: flex;
  gap: 1vw;
}

.doubleLabel label {
  flex: 1;
}

.doubleInput {
  display: flex;
  gap: 1vw;
}

.doubleInput input {
  flex: 1;
}

.jobCheckboxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: center;
  gap: 2vw;
}

#currentJob {
  max-width: 2vw;
}

.deleteSubmitBtnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  gap: 1vw;
  justify-content: space-between;
}

.deleteSubmitBtnContainer button {
  font-size: 1vw;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
  width: 7vw;
  height: 3vw;
  border-radius: 20px;
}

.deleteBtn {
  border: none;
  background-color: red;
}

.submitBtn {
  background-color: rgb(0, 255, 85);
  border: none;
}

.eduOverview,
.expOverview {
  gap: 1vw;
  display: flex;
  flex-direction: column;
}

.currentEduContainer,
.currentExpContainer {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.EduBlock,
.ExpBlock {
  display: flex;
  align-items: center;
  background-color: #c5b4e3;
  padding: 0.7vw;
  border-radius: 10px;
}

.EduBlock:hover,
.ExpBlock:hover {
  cursor: pointer;
}

.name {
  pointer-events: none;
  flex: 1;
}

.schoolName,
.companyName {
  font-size: 1vw;
}

.subject,
.positionTitle {
  font-weight: 550;
}

.visBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
}

.visBtn img {
}

.newFormBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newFormBtn {
  font-size: 1vw;
  width: 12vw;
  height: 2vw;
  border: 2px solid #c5b4e3;
  border-radius: 15px;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
}

.newFormBtn:hover,
.deleteBtn:hover,
.submitBtn:hover,
.delBtn:hover {
  transform: scale(1.05);
}

.newFormBtn:focus,
.deleteBtn:focus,
.submitBtn:focus {
  outline: 1px dotted rgb(128, 128, 128);
  outline-offset: -4px;
}

.newFormBtn:active,
.deleteBtn:active,
.submitBtn:active {
  transform: scale(0.99);
}

.EditSection p {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.EditSection input {
  font-size: 0.8vw;
  width: 100%;
  margin-top: 0.5vw;
  border-radius: 5px;
  border: none;
  background-color: white;
  height: 2vw;
  padding: 0 0.5vw 0 0.5vw;
}

.EditSection input:focus {
  outline: #c5b4e3 2px solid;
  border-radius: 5px;
}

.Preview {
  max-width: 60vw;
  position: sticky;
  top: 1vw;
  background-color: #c5b4e3;
  margin-right: 2vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  padding: 0 1.5vw 0 1.5vw;
  display: flex;
  flex-direction: column;
  max-width: inherit;
  aspect-ratio: 1/1.414;
  width: 30vw;
  background-color: white;
}

.resumeName {
  text-align: center;
  margin: 1vw 0 0.5vw 0;
  font-size: 1.7vw;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact > div {
  flex-wrap: nowrap;
  color: #494949;
}

.resumeGenAbout {
  text-align: center;
  margin: 0.5vw 0 0 0;
  font-size: 0.9vw;
}

.resumeExperienceTitle,
.resumeEducationTitle {
  margin: 1vw 0 0 0;
  font-size: 1.3vw;
  font-weight: bold;
}

.resumeExperience,
.resumeEducation {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.resumePosTitle,
.resumeEduSubject {
  font-weight: bold;
  font-size: 1vw;
}

.locationAndDates {
  flex-wrap: wrap;
  gap: 0.2vw;
  display: flex;
}

.resumeCompanyName,
.resumeExpLocation,
.resExpDates,
.resumeEduSchoolName,
.studyEduLocation,
.resumeEduDates {
  font-size: 0.8vw;
}

.resumeMainResponsibilities,
.resumeAboutStudy {
  font-size: 0.9vw;
}
